<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MuScaT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="required/js/constants.js"></script>
    <script type="text/javascript" src="required/js/ui.js"></script>
    <script type="text/javascript" src="required/js/main.js"></script>
    <script type="text/javascript" src="required/js/MuScaT.js"></script>
    <script type="text/javascript" src="required/js/Tag_instances.js"></script>
    <script type="text/javascript" src="required/js/CTags.js"></script>
    <script type="text/javascript" src="required/js/Page.js"></script>
    <script type="text/javascript" src="tags.js"></script>
    <link rel="stylesheet" href="required/css/ui.css" />
    <link rel="stylesheet" href="required/css/tags.css" />
    <link rel="stylesheet" href="aspect.css" />
  </head>
  <body>
    <section id="tags">
      <!-- Tous les tags seront déposés ici -->
    </section>
    <!--
        Section contenant les boutons fonctionnels, qui n'apparaissent
        qu'au passage de la souris
    -->
    <section id="tools" class="closed">
      <div id="picto_tools" onclick="$.proxy(UI,'toggle_tools')()">🛠</div>
      <div class="masked">

        <fieldset id="fs_alignment" class="undisplayed">
          <legend>Alignement</legend>
          <span>Aligner les <span id="selecteds_count">0</span> éléments sélectionnés</span>
          <select id="alignement">
            <option value="up">en haut / top</option>
            <option value="down">en bas / bottom</option>
            <option value="left">à gauche / left</option>
            <option value="right">à droite / right</option>
          </select><br>
          <span>du premier élément sélectionné</span>
          <div class="right">
            <button type="button" onclick="$.proxy(CTags,'align')()">Aligner</button>
          </div>
        </fieldset>

        <fieldset id="fs_code">
          <textarea name="codeSource" id="codeSource" style="visibility:hidden;"></textarea>
          <button type="button" onclick="$.proxy(MuScaT,'show_code')()">Code source -> presse-papier</button>
        </fieldset>

        <fieldset id="fs_aide">
          <a href="../Manuel.pdf" target="_new">Ouvrir l'aide</a>
        </fieldset>

      </div>
    </section>

    <section id="footer">
      <span id="message">&nbsp;</span>
    </section>
  </body>
</html>
