body {
  margin: 0;
  padding: 0;
}
section#tools {
  background-color: white;
  text-align: left;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0 10px 10px 10px;
  z-index: 1000; /* au-dessus de tout */
}

.displayed {display: block;}
.undisplayed {display: none;}

/* Quand les outils sont masqués */
section#tools.closed div#picto_tools {
  display: block;
}
section#tools.closed .masked {
  display: none;
}

/* Quand les outils sont affichés */
section#tools.opened {
  background-color: #EEEEEE;
}
section#tools.opened .masked {
  display: block;
  text-align: left;
  background-color: white;
}


@media print {
  section#tools   {display: none;}
  section#footer  {display: none;}
}



section#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 2px 8px;
  z-index: 500;
}
section#footer span#message {
  font-family: 'Courier New', 'Courier';
  font-size: 11pt;
}

section#footer #message.warning {
  color: red;
  background-color: #FFCCCC;
}
section#footer #message.notice {
  color: inherit;
  background-color: inherit;
}

/* La section qui contient tous les tags */
section#tags {
  position: relative;
  z-index: 0;
}

button, select, select option {
  font-size: inherit;
}

.right {text-align: right;}
.center {text-align: center;}


section#rcolumn {
  position: fixed;
  right: 0;
  top: 0;
  width: 30%;
  max-width: 30%;
  min-width: 30%;
}

section#rcolumn textarea#codeSource {
  font-family: 'Courier New', 'Courier';
  font-size:    11pt;
  background-color: black;
  color: white;
  height: 600px;
  width:  98%;
  padding: 1em;
}
