body{
  margin:2cm;
  font-family: Avenir;
  font-size: 14pt;
  width: 17cm;
}
a, a:link, a:visited {
  text-decoration: none !important;
  color: #000077!important;
}
img{
  max-width: 15cm;
}
figcaption {display: none;}
ul {list-style: none;}
ul li:before {
  /* content:'♯' ;/*content:'♮'; /*content:'♭'; */
  content: '🌀';
  position: absolute;
  margin-left: -2em;
  margin-top: 2px;
  color: blue;
  opacity: 0.55; font-size: 8pt; margin-right:0.5em;}

table tr td {
  vertical-align: top;
}
table tr:first-child {
}
table tr:first-child td {
  border-bottom: 1px solid;
  font-style: italic;
  font-weight: bold;
  opacity: 0.6;
}
table tr td p {margin-top: 0;}

code:not(.sourceCode) {
  background-color: #CCCCCC;
  color: #555555;
  border-radius: 4px;
}

pre code:not(.sourceCode){
  padding: 1em 1em;
}

pre, pre code {
  display: block;
  width: 100%;
}
pre code {
}
pre.usage code {
  background-color: #555555;
  color: white;
}

pre.center,
pre.center code,
pre.exergue,
pre.exergue code
{
  white-space: normal;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  background-color: inherit;
}

pre.center {
  text-align: center;
}
pre.exergue {
  font-size: 1.15em;
  font-weight: bold;
}
