@media print {
  body {
    margin:20mm;
  }
  section#tags{
    padding-bottom: 0;
    height: auto!important;
    /* height: 4400px!important; */
    margin-left: -2cm;
  }
  section#tools,
  section#rcolumn,
  span#analyse_name,
  section#footer,
  div.page-break,
  div.mark-margin,
  div.refline
  {display: none;}

  span.tag {
    opacity: 1!important; 
  }
  span.tag.box {
    background-color: white ;

  }

}
