body {
  margin: 0;
  padding: 0;
  width: 21.01cm;
}
section#tools {
  background-color: white;
  text-align: left;
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0 10px 10px 10px;
  z-index: 1000; /* au-dessus de tout */
}

.displayed {display: block;}
.undisplayed {display: none;}

span#analyse_name {
  position: fixed;
  display: block;
  width: 188mm;
  text-align:right;
  top: 4px;
  opacity: 0.3;
  font-size: 12pt;
  font-style: italic;
}

/* Quand les outils sont masqués */
section#tools.closed div#picto_tools {
  display: block;
}
section#tools.closed .masked {
  display: none;
}

/* Quand les outils sont affichés */
section#tools.opened {
  background-color: #EEEEEE;
}
section#tools.opened .masked {
  display: block;
  text-align: left;
  background-color: white;
}

section#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 2px 8px;
  z-index: 500;
}
section#footer span#message {
  font-family: 'Courier New', 'Courier';
  font-size: 11pt;
}

section#footer #message.warning {
  color: red;
  background-color: #FFCCCC;
}
section#footer #message.notice {
  color: inherit;
  background-color: inherit;
}


button, select, select option {
  font-size: inherit;
}

.right {text-align: right;}
.center {text-align: center;}


section#rcolumn {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  max-width: 40%;
  min-width: 40%;
  z-index: 500; /* rappel : lignes repère 500 */
}

section#rcolumn textarea#codeSource {
  font-family: 'Courier New', 'Courier';
  font-size:    14pt;
  background-color: black;
  color: white;
  height: 600px;
  width:  98%;
  padding: 1em;
  margin-right: 1em;
}

/* --------------------------------------------------------------------- */
/* Lignes de référence */

div.refline {
  position: fixed;
  background-color: green;
  /* Au-dessus de tout sauf des dialogues */
  z-index: 400;
}
div#refline_h {
  width:4px;
  height: 4000px;
  top: -10px;
  left: 20px;
}
div#refline_v {
  height:4px;
  width: 200%;
  left: -10px;
  top: 20px;
}

/* --------------------------------------------------------------------- */

div.page-break {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid red;
  height: 1px;
  padding: 0 0 0 1em;
}
div.page-break:after {
  content: 'page-break';
  font-size: 9pt;
  font-variant: small-caps;
}
div.mark-margin {
  position: absolute;
  opacity: 0.2;
  height: 2000cm;
  top: 0;
  width: 1px;
  border-left: 2px solid red;
}
