body {
  margin: 0;
  padding: 0;
  width: 21.01cm;
  background-color: #DDDDDD;
}
section#tools {
  background-color: #CCFFCC;
  text-align: left;
  position: fixed;
  border-radius: 1em;
  text-align: left;
  padding:0.3em;
  left: 10px;
  top: 10px;
  z-index: 1000; /* au-dessus de tout */
}

.displayed {display: block;}
.undisplayed {display: none;}

span#analyse_name {
  position: fixed;
  display: block;
  width: 188mm;
  text-align:right;
  top: 4px;
  opacity: 0.3;
  font-size: 12pt;
  font-style: italic;
}

/* Quand les outils sont masqués */
section#tools.closed div#picto_tools {
  display: block;
}
section#tools.closed .masked {
  display: none;
}

/* Quand les outils sont affichés */
section#tools.opened {
  background-color: #EEEEEE;
}
section#tools.opened .masked {
  display: block;
  text-align: left;
  background-color: white;
}

section#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 2px 8px;
  z-index: 500;
}
section#footer span#message {
  font-family: 'Courier New', 'Courier';
  font-size: 11pt;
}

section#footer #message.warning {
  color: red;
  background-color: #FFCCCC;
}
section#footer #message.notice {
  color: inherit;
  background-color: inherit;
}


button, select, select option {
  font-size: inherit;
}

.right {text-align: right;}
.center {text-align: center;}


section#rcolumn {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  max-width: 40%;
  min-width: 40%;
  z-index: 500; /* rappel : lignes repère 500 */
}

/* ---------------------------------------------------------------------
Le UL qui contient les LITags
*/
div#div-ultags {

}
div#div-ultags ul#ultags {
  margin-bottom: 0;
}
div#div-ultags div#div-ultags-buttons {
  text-align: left;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border color: grey;
}
div#div-ultags div#div-ultags-buttons button {
  background-color: #CCCCCC;
  width: 36px;
  height: 36px;
  text-align: center;
  margin:0;
  margin-right: -4px;
  padding:0;
  border: 1px solid grey;
}
div#div-ultags div#div-ultags-buttons button:active {
  background-color: green;
  color: white;
  padding: 2px 3px 4px;
  font-family: Arial, Helvetica;
}
/* --------------------------------------------------------------------- */
/* Lignes de référence */

div.refline {
  position: fixed;
  background-color: green;
  /* Au-dessus de tout sauf des dialogues */
  z-index: 400;
}
div#refline_h {
  width:4px;
  height: 4000px;
  top: -10px;
  left: 20px;
}
div#refline_v {
  height:4px;
  width: 200%;
  left: -10px;
  top: 20px;
}

fieldset#fs_boutons {

}
fieldset#fs_boutons button {
  display: block;
}
